.vbox {
    -fx-background-color: #00395A  ;
/*    -fx-relleno: 15;
    -espacio-fx: 10;*/
}
.amduser{
    -fx-background-color: #FFFFFF  ;
/*    -fx-relleno: 15;
    -espacio-fx: 10;*/
}
.amdbusqueda{
    -fx-background-color: #FFFFFF  ;
/*    -fx-relleno: 15;
    -espacio-fx: 10;*/
}
.amdproduct{
    -fx-background-color: #FFFFFF  ;
/*    -fx-relleno: 15;
    -espacio-fx: 10;*/
}
.colorlabel{
    -fx-text-fill: white;
}
.colorpanelicon{
    -fx-background-color: #D7DBDD
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #A9CCE3;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #A9CCE3;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #154360;
    -fx-stroke-width: 3pt;
}
.jfx-tab-pane .tab:selected .tab-label{
    -fx-background-color: #2980B9;
}
.linecolor{
    -fx-stroke: white;
}
