/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2019, 1:23:24
    Author     : carlasanchez
*/

.logout-label:hover{
    -fx-font-weight: bold;
    -fx-underline: true;
    }

.title{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 30, 56);
}
.search_button{
   -jfx-button-type: FLAT;
   -fx-graphic: url("search.png");
}

.search_button:hover{
   -jfx-button-type: RAISED;
   -fx-graphic: url("search_h.png");
}




/* tabPane */
.jfx-tab-pane{
    -jfx-tab-min-width:90px;
    -jfx-background-color: white;
}

.tab-file{
    -fx-background-color: rgb(248,248,248);
}
.tab-rand{
    -fx-background-color: rgb(248,248,248);
}

.tab{
    -fx-background-color: rgb(256,256,256);
}
.tab:selected{
    -fx-background-color: rgb(248,248,248);
    -fx-text-fill: rgb(5,5,5,5);
}
.tab-header-background {
    -fx-opacity: 0;
}

.tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(5,5,5);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}



.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(235, 230, 250);
    -fx-background-radius: 5em;
}

.jfx-tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab:selected
{
    -fx-background-color: #3897F0;
    -fx-background-radius: 5px;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #8c9091;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #f9fbfc;
}

